 /* CSS declarations go here */
.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
  color: black;
}

#steps {
  height: 500px;
  overflow-y: scroll;
  color: black;
}

#markerModal {
	color: black;
}

.regField {
	color: black;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}