<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kurdeniewiemco</title>
</head>


<body id="page-top" data-spy="scroll">

</body>

<template name="map">
    <div class="map-container">
        {{> googleMap name="map" options=mapOptions}}
    </div>
</template>


<template name="eventmap">
    <div class="map-container">
        {{> googleMap name="eventmap" options=mapOptions}}
    </div>
</template>


<template name="MainLayout">
    <div>
        {{> yield }}
    </div>
</template>

<template name="MainPage">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">Kurde!</span> </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#mapsection">Pokaż wszystkie!</a>

                    </li>
                    <li>
                        <a href="/findevent">Znajdź mi coś!</a>
                    </li>
                    {{#if currentUser}}
                    <li>
                        <a href="#" class="logout">Wyloguj</a>
                    </li>
                    {{else}}
                    <li>
                        <a href="/register">Rejestruj</a>
                    </li>
                    <li>
                        <a href="/login">Zaloguj</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center" style="padding: 70px">
                        <h1 class="brand-heading">Kurde nie wiem co</h1>
                        <p class="intro-text">Nudzisz się? To kurde zrób coś! Znajdź wydarzenia w okolicy, albo stwórz własne.</p>
                        <a href="#mapsection" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="mapsection" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-4">
                 <div class="panel-group" id="accordion">
                      {{#each markeritems}}
                          {{> listitem}}
                      {{/each}}
                </div>
            </div>

            <div class="col-lg-8">
                {{> map}}
            </div>
        </div>
    </section>
    <div>
        {{> markerModalTemplate }}
    </div>
</template>

<template name="EventDetailsPage">
    <div class="intro-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="brand-heading" style="color:white">Mamy dla Ciebie szalony event!</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{> eventmap}}
        </div>
        <div id="steps" class="col-md-4"> 
        </div>
    </div>
</template>

<template name="FindEventPage">
    <div class="container">
        <div class="row">
            <div class="col-center-block text-center">
                <div class="input-group input-group-lg" style="margin: auto; padding: auto">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="Router.go('/')">A jednak nie!</button>
                    </span>
                    <input type="text" class="form-control" placeholder="#dziejesie">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="Router.go('/event')">Dajesz!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="listitem">
              <div class="panel panel-default">
                  <div id="{{idx}}" class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            {{nazwa}}</a>
                      </h4>
                    </div>
                    <div id={{_id}} class="panel-collapse collapse">
                          {{opis}}
                    </div>
                  </div>
</template>

<template name="markerModalTemplate">
    <div class="modal fade" id="markerModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dodaj wydarzenie!</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <fieldset class="form-group row">
                            <label for="markerNazwa" class="form-control-label cols-xs-12 col-md-6">Nazwa</label>
                            <div class="cols-xs-12 col-md-6">
                                <input type="text" id="markerNazwa" class="form-control" required="true" />
                            </div>
                        </fieldset>

                        <fieldset class="form-group row">
                            <label for="markerOpis" class="form-control-label cols-xs-12 col-md-6">Opis</label>
                            <div class="cols-xs-12 col-md-6">
                                <input type="text" id="markerOpis" class="form-control input-lg"/>
                            </div>
                        </fieldset>

                        <fieldset class="form-group row">
                            <label for="markerData" class="form-control-label cols-xs-12 col-md-6">Data</label>
                            <div class="cols-xs-12 col-md-6">
                                <input type="text" class="form-control" id="markerData">
                            </div>
                        </fieldset>

                        <fieldset class="form-group row">
                            <label for="markerTyp" class="form-control-label cols-xs-12 col-md-6">Typ</label>
                            <div class="cols-xs-12 col-md-6">
                                <select class="form-control" id="markerTyp">
                                    <option>beer</option>
                                    <option>boardgame</option>
                                    <option>party</option>
                                    <option>art</option>
                                    <option>basketball</option>
                                    <option>bowling</option>
                                    <option>cinema</option>
                                    <option>coffee</option>
                                    <option>food</option>
                                    <option>soccer</option>
                                    <option>volleyball</option>
                                </select>
                            </div>
                        </fieldset>

                        <fieldset class="form-group row">
                            <label for="markerMaxOsob" class="form-control-label cols-xs-12 col-md-6">Max. liczba osob</label>
                            <div class="cols-xs-12 col-md-6">
                                <select class="form-control" id="markerMaxOsob">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                        </fieldset>

                        <fieldset class="form-group row">
                            <label for="markerAktOsob" class="form-control-label cols-xs-12 col-md-6">Aktualna liczba osob</label>
                            <div class="cols-xs-12 col-md-6">
                                <select class="form-control" id="markerAktOsob">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="register">
    <p class="intro-text col-md-offset-1">Rejestracja</p>
    <div class="container-fluid">
        <form class="register">
            <fieldset class="form-group row">
                <label for="id_email" class="form-control-label col-xs-12 col-md-2 col-md-offset-1">Podaj maila</label>
                <div class="col-xs-12 col-md-4">
                    <input id="id_email" type="email" name="email" class="form-control">
                </div>
                <small class="text-muted col-xs-12 col-md-8 col-md-offset-3">Nikt nie zobaczy Twojego maila. Poza wszystkimi i NSA.</small>
            </fieldset>
            <fieldset class="form-group row">
                <label for="id_paswd" class="form-control-label col-xs-12 col-md-2 col-md-offset-1">A teraz hasło</label>
                <div class="col-xs-12 col-md-4">
                    <input id="id_paswd" type="password" name="password" class="form-control">
                </div>
            </fieldset>
            <div class="col-xs-12 col-md-6 col-md-offset-1">
                <input type="submit" class="btn btn-default" value="Tak!">
                <button type="button" class="btn btn-default" onclick="Router.go('/');">Nieee...</button>
            </div>
        </form>
    </div>
</template>


<template name="login">
    <p class="intro-text col-md-offset-1">Logowanie</p>
    <form class="login">
        <fieldset class="form-group row">
            <label for="id_email" class="form-control-label col-xs-12 col-md-2 col-md-offset-1 ">Podaj maila</label>
            <div class="col-xs-12 col-md-4">
                <input id="id_email" type="email" name="email" class="form-control">
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="id_paswd" class="form-control-label col-xs-12 col-md-2 col-md-offset-1">A teraz hasło</label>
            <div class="col-xs-12 col-md-4">
                <input id="id_paswd" type="password" name="password" class="form-control">
            </div>
        </fieldset>
        <div class="col-xs-12 col-md-6 col-md-offset-1">
            <input type="submit" class="btn btn-default" value="Login!">
            <button type="button" class="btn btn-default" onclick="Router.go('/');">Nope</button>
        </div>
    </form>
</template>
